.hamburger-menu {
  display: hidden;
  cursor: pointer;

  @include md {
    display: inline-block;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #e0def4;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.mobile-menu {
  /* display: none; */
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background: rgba(9, 9, 9, 0.8); /* Semi-transparent black */
  backdrop-filter: blur(10px);

  z-index: 0;
  padding: 1rem;
  transition: 0.5s;
  transform: translateX(-100%);

  &.active {
    /* display: block; */
    transform: translateX(0);
  }

  @include lg {
    padding: 1rem 4rem;
  }
}
