.contact-container {
  display: none;
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);

  @screen md {
    display: block;
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.icon {
  width: 20px;
  height: 20px;
  transition: 300ms;
}

.icon:hover {
  color: var(--primary);
  transform: translateY(-3px);
}

.icon:last-child {
  margin-bottom: 20px;
}

.divider-line {
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--white);
}
