:root {
  --primary: #06d99e;
  --white: #e0def4;
}

.App {
  /* text-align: center; */
  min-height: 100vh;
  color: var(--white);
}

.typed-cursor {
  /* override typed js style */
  @apply text-primary;
}
