:root {
  --primary: #06d99e;
  --white: #e0def4;
  --dark: #090909;
  --light-dark: #141414;
  --gray: #808080;
  --light-gray: #b0b0b0;
  --font-sans: "Montserrat", "system-ui", "sans-serif";
  --font-serif: "Titillium Web", "Georgia", "serif";
  --font-mono: "Fira Code";
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@screen lg {
  html,
  body {
    scroll-padding-top: 0;
  }
}

.underline-link {
  color: var(--primary, #007bff);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.underline-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  left: 0;
  bottom: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom left;
}

.underline-link:hover::after {
  transform: scaleX(1);
}

::selection {
  background-color: #303030; /* Highlight color */
  color: var(--white);
}

.App {
  /* text-align: center; */
  min-height: 100vh;
  color: var(--white);
}

.typed-cursor {
  /* override typed js style */
  @apply text-primary;
}
